<section id="about">
  <div class="description-wrapper">
    <div class="description-content">
      <h3 class="description-header">About Al</h3>
      <div class="description-text">
        <p>
          Allie Hock is a stand up comedian and documentary film producer based
          in Los Angeles. Her work shines a light on under-appreciated topics by
          using unconventional angles to draw out themes that are universally
          relatable.
        </p>
        <p>
          As a stand up comedian, Allie has performed regularly in front of
          sold-out crowds around Los Angeles and Ogden, Utah.
        </p>
        <p>
          Allie's documentary producing credits include archival-driven
          documentaries for CNN (The Movies, 'Tis the Season, Land of the
          Giants), a Disney+ documentary series following professional Japanese
          surfers and the Olympics (Chasing Waves), and Dave Grohl's
          celebrity-driven docuseries for Paramount+ (From Cradle to Stage).
        </p>
        <p>
          Allie ran Cross Country and Track for Michigan State University. She
          studied comedy at The Groundlings Theater in L.A.
        </p>
      </div>
      <img
        alt="Allie Hock smiling in a blue shirt and sunglasses at a table with a cup of coffee"
        width="480"
        height="620"
        src="/assets/portrait.jpg"
        loading="lazy"
        decoding="async"
        class="portrait"
      />
    </div>
  </div>
</section>

<style>
  .description-wrapper {
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .description-content {
    display: grid;
    gap: 2rem;
    padding: 5rem 2rem;
    justify-items: center;
  }

  h3 {
    font-size: var(--text-2xl);
    text-align: center;
    color: var(--section-header);
  }

  .description-text {
    font-size: var(--text-md);
    color: var(--gray-50);
    text-align: center;
    max-width: 50ch;
    padding-bottom: 1rem;
    display: grid;
    gap: 1rem;
  }

  img {
    border-radius: 2rem;
  }

  @media (min-width: 50em) {
    .description-content {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "portrait description-header"
        "portrait description-text";
      width: 100%;
      max-width: 83rem;
      margin-inline: auto;
      padding-inline: 1.5rem;
      align-items: center;
    }

    h3 {
      font-size: var(--text-4xl);
    }

    .description-header {
      grid-area: description-header;
    }

    .section-header {
      grid-area: description-header;
      font-size: var(--text-lg);
    }

    .description-text {
      grid-area: description-text;
      justify-self: center;
      align-self: center;
    }

    img {
      grid-area: portrait;
    }
  }
</style>
