---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import ThemeToggle from "./ThemeToggle.astro";
import AnchorLinks from "./AnchorLinks.astro";

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
  { label: "Projects", href: "#projects" },
  { label: "About", href: "#about" },
  // { label: "Contact", href: "#contact" },
];
---

<div class="page-header">
  <Astronav closeOnClick>
    <div class="menu-header">
      <a href="/" class="site-title">Allie Hock</a>
      <MenuIcon class="menu-icon" />
    </div>
    <MenuItems class="hidden lg:flex">
      <div class="nav-items">
        <AnchorLinks textLinks={textLinks} />
        <div class="theme-toggle">
          <ThemeToggle />
        </div>
      </div>
    </MenuItems>
  </Astronav>
</div>

<style>
  .page-header {
    font-family: var(--font-brand);
  }

  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem;
  }

  .site-title {
    display: flex;
    gap: 0.5rem;
    line-height: 1.1;
    color: var(--site-title);
    text-decoration: none;

    /* small screens */
    font-size: var(--text-4xl);
  }

  .nav-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-lg);
  }

  .theme-toggle {
    display: flex;
    align-items: center;
    justify-content: end;
    height: calc(var(--icon-size) + 2 * var(--icon-padding));
  }

  @media (min-width: 50em) {
    .page-header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      /* padding: 2.5rem 9rem; */
    }

    .nav-items {
      visibility: visible;
      display: flex;
      justify-content: end;
      gap: 1rem;
      color: var(--gray-300);
      background: none;
      box-shadow: none;
    }
  }

  @media (min-width: 84rem) {
    .page-header {
      padding: 2.5rem 9rem;
    }

    .site-title {
      font-size: var(--text-6xl);
    }

    .nav-items {
      gap: 4rem;
    }
  }
</style>
